.bg-light{
  background-color: rgba(0,0,0,.075)!important;
  position: fixed;
  width: 100%;
}

.bg-dark {
  background-color: #808080f6!important;
  position: fixed;
  width: 100%;
  color: white;;
}
