.theme-red-background {
    background-color: #f70000;
}
.theme-blue-background {
    background-color: #001a45;
}
.theme-red-text {
    color: #f70000;
}
.theme-blue-text {
    color: #001a45;
}
.theme-white-text {
    color: #fcfcfc;
}
.spacer{
    height:70px;
}
/*#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    /*
    min-width: 100%;
    min-height: 100%;
    z-index: -9998;
  }
  */
