<p>live-stream works!</p>
<img src="../../assets/img/steam-background.jpg" id="bg" alt="">
<div id="fb-root"></div>
<h1 style="visibility: hidden;">.</h1>
<div class="container">
    <div class="child">

       

        <div class="fb-video"
            data-href="https://www.facebook.com/faithbiblechurchsa/live/"
            data-width="1700"
            data-allowfullscreen="true"
            data-autoplay="false"
            data-lazy="false"
            data-show-text="false"
            data-show-captions="false"
            >
        </div>
        
        
    </div>
</div>
